# Ignore everything
*


# Allow only these specific files and folders
!run_all.bat
!wait_for_carla.ps1
!wait_for_carla_ready.py
!choose_scenario.py
!scenario_launcher.py

!overrides/
!overrides/**

!scenarios/
!scenarios/**

!scenario-config/
!scenario-config/**

!weather/
!weather/**

!README

# Ignore unwanted files inside allowed folders
CarlaUE4/Config/*.tmp
CarlaUE4/Config/*.bak
PythonAPI/examples/__pycache__/
PythonAPI/examples/*.pyc
!.gitignore